// LinkedIn styles

.linkedIn {
  display: grid;
  min-height: 100vh;
  text-align: center;
  grid-gap: 0.3rem;
  grid-template:
    "profile header news" 1fr
    "profile main   news" 1fr
    "left-middle main right-middle" minmax(50px, 200px)
    "left-bottom main right-bottom" 1fr
    "left-bottom main right-bottom" 1fr /
    1fr 4fr 1.3fr;

  .profile {
    background-color: red;
    grid-area: profile;
  }
  .header {
    background-color: brown;
    grid-area: header;
  }
  .news {
    background-color: green;
    grid-area: news;
  }
  .left-middle {
    background-color: yellow;
    grid-area: left-middle;
  }

  .left-bottom {
    background-color: bisque;
    grid-area: left-bottom;
  }
  .main {
    background-color: turquoise;
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      margin-top: 3rem;
      text-decoration: none;
      color: #fff;
      font-size: 3rem;
      &:hover {
        color: rgb(197, 145, 145);
      }
    }
  }

  .right-middle {
    background-color: orange;
    grid-area: right-middle;
  }
  .right-bottom {
    background-color: violet;
    grid-area: right-bottom;
  }
}

// Gmail Styles

.Gmail {
  display: grid;
  min-height: 100vh;
  text-align: center;
  grid-gap: 0.3rem;
  grid-template:
    "header header header header" 80px
    "left-up  main   quick-settings  right-side" 1.3fr
    "left-middle main  quick-settings right-side" minmax(50px, 120px)
    "left-bottom main  quick-settings right-side" 1fr
    /
    1.2fr 4fr 1.3fr 60px;

  .header {
    background-color: brown;
    grid-area: header;
  }
  .left-up {
    background-color: red;
    grid-area: left-up;
  }

  .left-middle {
    background-color: yellow;
    grid-area: left-middle;
  }

  .left-bottom {
    background-color: bisque;
    grid-area: left-bottom;
  }
  .main {
    background-color: turquoise;
    grid-area: main;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // height: 800px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1rem);
    grid-template-columns: 1fr;

    grid-auto-rows: 1rem;

    // a {
    //   margin-top: 3rem;
    //   text-decoration: none;
    //   color: #fff;
    //   font-size: 3rem;
    //   &:hover {
    //     color: rgb(197, 145, 145);
    //   }
    // }
  }

  .right-side {
    background-color: orange;
    grid-area: right-side;
  }
  .quick-settings {
    background-color: violet;
    grid-area: quick-settings;
  }
}

// Discord

.discord {
  display: grid;
  min-height: 100vh;
  text-align: center;
  grid-gap: 0.3rem;
  grid-template:
    "far-left-side boolean-uk main-top" 60px
    "far-left-side left-invite main" 1fr
    "far-left-side  left-general main" 0.4fr
    "far-left-side  left-classes main" 1fr
    "far-left-side  left-lobby main" 0.6fr
    "far-left-side  left-start main" 1.3fr
    "far-left-side  left-profile main-bottom" 0.25fr
    /
    50px 1fr 4fr;

  .far-left-side {
    grid-area: far-left-side;
    background-color: brown;
  }

  .boolean-uk {
    grid-area: boolean-uk;
    background-color: red;
  }
  .left-invite {
    grid-area: left-invite;
    background-color: yellow;
  }
  .left-general {
    grid-area: left-general;
    background-color: blue;
  }

  .left-classes {
    grid-area: left-classes;
    background-color: rebeccapurple;
  }
  .left-lobby {
    grid-area: left-lobby;
    background-color: orange;
  }
  .left-start {
    grid-area: left-start;
    background-color: pink;
  }
  .left-profile {
    grid-area: left-profile;
    background-color: gold;
  }

  .main-top {
    grid-area: main-top;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__classes {
      grid-column: 1 / 3;
      background-color: pink;
    }
    &__icons {
      grid-column: 3;
      background-color: red;
    }
  }
  .main-bottom {
    grid-area: main-bottom;
    background-color: rgb(176, 211, 207);
  }
  .main {
    background-color: turquoise;
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      margin-top: 3rem;
      text-decoration: none;
      color: #fff;
      font-size: 3rem;
      &:hover {
        color: rgb(197, 145, 145);
      }
    }
  }
}
