.linkedIn {
  display: grid;
  min-height: 100vh;
  text-align: center;
  grid-gap: 0.3rem;
  grid-template: "profile header news" 1fr "profile main   news" 1fr "left-middle main right-middle" minmax(50px, 200px) "left-bottom main right-bottom" 1fr "left-bottom main right-bottom" 1fr/1fr 4fr 1.3fr;
}
.linkedIn .profile {
  background-color: red;
  grid-area: profile;
}
.linkedIn .header {
  background-color: brown;
  grid-area: header;
}
.linkedIn .news {
  background-color: green;
  grid-area: news;
}
.linkedIn .left-middle {
  background-color: yellow;
  grid-area: left-middle;
}
.linkedIn .left-bottom {
  background-color: bisque;
  grid-area: left-bottom;
}
.linkedIn .main {
  background-color: turquoise;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.linkedIn .main a {
  margin-top: 3rem;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}
.linkedIn .main a:hover {
  color: #c59191;
}
.linkedIn .right-middle {
  background-color: orange;
  grid-area: right-middle;
}
.linkedIn .right-bottom {
  background-color: violet;
  grid-area: right-bottom;
}

.Gmail {
  display: grid;
  min-height: 100vh;
  text-align: center;
  grid-gap: 0.3rem;
  grid-template: "header header header header" 80px "left-up  main   quick-settings  right-side" 1.3fr "left-middle main  quick-settings right-side" minmax(50px, 120px) "left-bottom main  quick-settings right-side" 1fr/1.2fr 4fr 1.3fr 60px;
}
.Gmail .header {
  background-color: brown;
  grid-area: header;
}
.Gmail .left-up {
  background-color: red;
  grid-area: left-up;
}
.Gmail .left-middle {
  background-color: yellow;
  grid-area: left-middle;
}
.Gmail .left-bottom {
  background-color: bisque;
  grid-area: left-bottom;
}
.Gmail .main {
  background-color: turquoise;
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(auto-fill, 27px);
  grid-template-columns: 1fr;
}
.Gmail .main .line {
  margin-top: 3px;
  border: 1px solid rgba(134, 122, 122, 0.507);
  background-color: #eee5e5;
}
.Gmail .main .line a {
  color: #d37171;
  text-decoration: none;
  line-height: 22px;
}
.Gmail .main .line a:hover {
  color: white;
}
.Gmail .right-side {
  background-color: orange;
  grid-area: right-side;
}
.Gmail .quick-settings {
  background-color: violet;
  grid-area: quick-settings;
}

.discord {
  display: grid;
  min-height: 100vh;
  text-align: center;
  grid-gap: 0.3rem;
  grid-template: "far-left-side boolean-uk main-top" 60px "far-left-side left-invite main" 1fr "far-left-side  left-general main" 0.4fr "far-left-side  left-classes main" 1fr "far-left-side  left-lobby main" 0.6fr "far-left-side  left-start main" 1.3fr "far-left-side  left-profile main-bottom" 0.25fr/50px 1fr 4fr;
}
.discord .far-left-side {
  grid-area: far-left-side;
  background-color: brown;
}
.discord .boolean-uk {
  grid-area: boolean-uk;
  background-color: red;
}
.discord .left-invite {
  grid-area: left-invite;
  background-color: yellow;
}
.discord .left-general {
  grid-area: left-general;
  background-color: blue;
}
.discord .left-classes {
  grid-area: left-classes;
  background-color: rebeccapurple;
}
.discord .left-lobby {
  grid-area: left-lobby;
  background-color: orange;
}
.discord .left-start {
  grid-area: left-start;
  background-color: pink;
}
.discord .left-profile {
  grid-area: left-profile;
  background-color: gold;
}
.discord .main-top {
  grid-area: main-top;
  background-color: green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.discord .main-top__classes {
  grid-column: 1/3;
  background-color: pink;
}
.discord .main-top__icons {
  grid-column: 3;
  background-color: red;
}
.discord .main-bottom {
  grid-area: main-bottom;
  background-color: #b0d3cf;
}
.discord .main {
  background-color: turquoise;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.discord .main a {
  margin-top: 3rem;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}
.discord .main a:hover {
  color: #c59191;
}/*# sourceMappingURL=main.css.map */